
         <div class="container">
            <div class="row">
                <!--<h5 *ngIf="auth.authenticated()">You are logged in</h5>
                <h5 *ngIf="!auth.authenticated()">You are not logged in, please click the login link above</h5>-->
                    <img class="img-responsive" src="img/profile.jpg" alt="" style="opacity: 0">
                    <div class="intro-text">
                        <span class="name">MoonEDM</span>
                        <hr class="star-light">
                        <span class="skills">SoundCloud & 1001tracklist Download</span>
                    </div>
            </div>
        </div>
    

  