.fa.fa-remove:hover{
  opacity: 1;
}
.head{
  padding-left: 45%;
}
.check{
    width: 1em;
}
.rank{
    padding-left: 5px;
}
.track{
    // width: 5em;
    padding-left: 30%;
}
.artist{
    // width: 6em;
    padding-left: 170px;
}
.track_title{
    width: 21em;
    padding-left: 30px;
}
.track_artist{

}
@media (max-width: 375px) {
  .artist{  
        padding-left: 115px;
}

 .track_title{
    font-size: 10px;
}
.track_artist{
  font-size: 10px;
}
}

.fa.fa-remove{
  opacity: 0.5;
}
.chartlist{
  position: absolute;
  top: 80px;
  width: 40em;
  left: -45em;
  background-color: mintcream;
  z-index: 50;
  max-height: calc(85% - 75px);
  // overflow: scroll;
  transition: left .3s;
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  margin-top: 75px;
  padding-top: 15px;
  overflow-y: scroll;
  // min-height: 100%;
  
}
.glyphicon.glyphicon-random{
      padding-left: 68%;
      opacity: 0.3;
      font-size: 28px;
}
.glyphicon.glyphicon-random.click{
      opacity: 1;
}

.chartlist.open{
    left: 0em;
}


.heading {
  // color: white;
  padding: 0 0 10px 16px;
  border-bottom: 1px solid #bbb;
}

.row {
    border-bottom: 1px solid #efefef;
}

.control {
  position: absolute;
  right: 10%;
  top:10px;
}

.playlist-list {
  position: relative;
  // top:75px;
  // margin-top: 75px;
}

.track {
  //before 1.3em
  font-size: 1.0em;
}
.track, .artist {
  text-shadow: $textshadow;
}

.item {
  padding:10px 35px;
  border: 1px solid transparent;
  transition: border .5s;
  border-bottom: 1px solid #efefef;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .5s;
  cursor: pointer;
  position: relative;
  
  .playing-indicator {
    position: absolute;
    left: -5px;
    top: 15px;
  }
  
  &:hover {
    background-color: rgba(255, 255, 255, .7);
    transition: background-color .5s;
    border: 1px solid #bbb;
    transition: border .5s;
    
    .control {
      opacity: 1;
      transition: opacity .5s;
    }
  }
  
  // &.playing {
  //   background-color: lightgreen;
    
  //   &:hover {
  //     background-color: rgba(255, 255, 255, .4);
  //   }
    
  //   .track {
  //     color:#444;
  //   }
    
  //   .artist {
  //     color:rgb(25,118,210);
  //   }
  // }
  
}

.control {
  cursor: pointer;
  opacity: .3;
  transition: opacity .5s;
}

@media (max-width: 375px) {
  .chartlist{
    width: 22em;
  }
  
  .track {
    font-size:1em;
  }
  
  // .artist {
  //   font-size:.9em;
  // }
}

@media (max-width: 350px) {
  .chartlist{
    width: 19em;
  }
  
  .track {
    font-size:1em;
  }
  
  .artist {
    font-size:.6em;
  }
}
.player-control {
  position: fixed;
  cursor: pointer;
  z-index: 75;
  bottom:20px;
  opacity: .5;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  
  &:hover {
    opacity: 1;
  }
  
  .fa {
    &:before {
      font-size: 40px;
    }
    
    &.open { 
      &:before {
        color: #fff;
      }  
    }
  }
}

.picker-btn {
  position: fixed;
  cursor: pointer;
  z-index: 1000000;
  bottom:20px;
  right:20px;
  opacity: .7;
  transition: bottom .3s;
  -webkit-transition: bottom .3s;
  -moz-transition: bottom .3s;
  background-image: url("img/colorpicker-256x256.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width:40px;
  
  
  &:hover {
    opacity: 1;
  }
}

.prev-track {
  left:28px;
}
.toggle-play {
  left:95px;
}
.next-track {
  left:155px;
}

@media (max-width: 500px) {
  .chartlist-menu {
    top:28px;
    left:28px;
    
    .fa-bars {
    
      &:before {
        font-size: 30px;
      }
    }
  }

  .player-control {
    bottom:20px;
    
    .fa {
      &:before {
        font-size: 30px;
      }
    }
  }

  .prev-track {
    left:28px;
  }
  .toggle-play {
    left:95px;
  }
  .next-track {
    left:155px;
  }
}

@media (max-width: 375px) {
  .player-control {
    bottom:42px;
  }
}