<div class="playlist" [ngClass]="{open: (state$ | async)?.menuOpen}">
  <div class="heading">
    PLAYLIST
      <div class="deleteList">
          <a (click)="$event.stopPropagation(); remove()" data-hint="Remove" class="hint--top-left">
            <i class="fa fa-remove head">목록전체 삭제</i>
          </a>
      </div>
    <input class = "form-control" type="text" #searchInput (keyup.enter)="search(myInput.value)" (keyup)="search($event)" placeholder="Search for Song..">
  <ul id ="playUL" class="playlist-list">
    <li *ngFor="let track of (state$ | async)?.playlist; let i = index" class="item" (click)="play(i,track)" [ngClass]="{playing: track.playing}">
      <div class="row">
        <div class="col-xs-11">
          <i *ngIf="track.playing" class="playing-indicator fa" [ngClass]="{'fa-volume-off': volumeLevel===0, 'fa-volume-down': volumeLevel===1, 'fa-volume-up': volumeLevel===2}"></i>
          <div class="track">{{track.track}}</div>
          <div class="artist">{{track.Artist}}</div>
        </div>
        <div class="col-xs-1 control">
          <a (click)="$event.stopPropagation(); remove(track)" data-hint="Remove" class="hint--top-left">
            <i class="fa fa-remove"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
